version: "3.9"

services:
  db:
    image: postgres:16
    container_name: groombuzz_db
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  adminer:
    image: adminer
    container_name: groombuzz_adminer
    ports:
      - "8080:8080"
    depends_on:
      - db

volumes:
  postgres_data:

